In [4]:
# List of ten numbers
numbers = [1, 12, 17, 19, 20, 28, 32, 35, 37, 39]

# Print even numbers using a for loop condition

print("Even numbers in the list are:")
for num in numbers:
    if num % 2 == 0:
        print(num)

In [3]:
# Create a dictionary to store employee details
employee = {
    "Name": "Naveen Killi",
    "ID": 5678,
    "Employer": " Metiz Technology",
    "Role": "Jr. Data Engineer",
    "Location": "Ohio",
    "Experience": 6
}

# Print all key-value pairs
print("Employee Details:")
for key, value in employee.items():
    print(f"{key}: {value}")

Employee Details:
Name: Naveen Killi
ID: 5678
Employer:  Metiz Technology
Role: Jr. Data Engineer
Location: Ohio
Experience: 6